.topicPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.topicPage .title {
    font-family:"Nanum Gothic", serif; 
    font-style:normal; 
    font-weight:800;
    color:rgb(51, 51, 51); 
    font-size:48px;
    margin-bottom: 60px;
}
